/*
@media (max-width: 991px){
 */

@media (max-width: 500px){
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td, /*:not(.ExceptToggleBtn) */
    .table-condensed > tfoot > tr > td{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .table-font-responsive{
        font-size: smaller;
    }
    .table-font-responsive > thead > tr > th,
    .table-font-responsive > tbody > tr > th,
    .table-font-responsive > tfoot > tr > th,
    .table-font-responsive > thead > tr > td,
    .table-font-responsive > tbody > tr > td,
    .table-font-responsive > tfoot > tr > td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .btn-font-responsive{
        font-size: x-small;
        padding: 5px;
    }
    .nav-tabs {
        font-size: small;
    }

    .table-fixed {
        table-layout:fixed;
    }

    .table-fixed td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
}

.tight-input > input{
    margin-right: 0px;
}

.highcharts-title {
    fill: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}