/*
@media (max-width: 991px){
 */

@media (max-width: 500px){
    .table-expand-mobile{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .contract-expand-mobile{
        width:100% !important;
    }

    .table-font-responsive{
        font-size: 0.8em;   /*확장없이 폰트 사이즈 감소*/
    }
    .btn-font-responsive{
        font-size: 0.8em;
        padding: 5px;       /*누르기 쉽게 위아래로 확장*/
    }

    .table-font-responsive > thead > tr > th,
    .table-font-responsive > tbody > tr > th,
    .table-font-responsive > tfoot > tr > th,
    .table-font-responsive > thead > tr > td,
    .table-font-responsive > tbody > tr > td,
    .table-font-responsive > tfoot > tr > td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-tabs {
        font-size: small;
    }

    .table-fixed {
        table-layout:fixed;
    }

    .table-fixed td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
}

.table-ticket-box{
    margin-left:5px;
    margin-right:5px;
    float:left;
    display:inline-block;
    position:relative;
}

.table-ticket-img{
    display:block;
    margin:0px;
    height:1.7em;
}

.table-ticket-outline{
    font-weight:bold;
    font-size:0.6em;
    position: absolute;
    top: 1.2em;
    left: 0em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.tight-input > input{
    margin-right: 0px;
}

.highcharts-title {
    fill: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

select#sortContract option[value="7"] {background-image: url(../img/doll.png);}
/*
select#sortContract option[value="8"] {background-image:url(img/doll.png);}
select#sortContract option[value="9"] {background-image:url(others.png);}
select#sortContract option[value="10"] {background-image:url(others.png);}
select#sortContract option[value="11"] {background-image:url(others.png);}
*/